.Footer {
  position: fixed;
  right: 30px;
  bottom: 30px;
  transform: rotate(-90deg) translateX(100%);
  transform-origin: bottom right;
  font-size: 14px;
}

.Footer ul {
  list-style: none;
}

.Footer li {
  display: inline-block;
  margin-right: 20px;
}
